<div class="row-fluid">

	<div class="alert alert-success" data-bind="visible: subpageAlert">
		<button type="button" class="close" data-bind="click: removeAlert">&times;</button>
		<strong>Success!</strong> We have successfully redirected the page to a subpage without the viewmodel got disposed.
	</div>

	<ul data-bind="foreach: names">
		<li><span data-bind="text: name"></span> <a href="#" data-bind="click: $parent.removeHandler">&times;</a></li>
	</ul>
	<form class="form-inline" data-bind="submit: addHandler">
		<input type="text" data-bind="value: name, valueUpdate: 'afterkeydown'" />
		<button class="btn">Add</button>
	</form>
	<span data-bind="visible: shortName() != true">Long name</span>
	<span data-bind="visible: shortName">Short name</span>
	<br />
	<a href="/home/subpage">Subpage</a>
</div>