<div id="movies-glass-overlay">
	<div class="row-fluid">
		<div class="span2 movie-poster">
			<img data-bind="attr: { src: thumbnail }" />
		</div>
		<div class="span4 movie-description">
			<h2>
				<!-- ko text: title --><!-- /ko -->
				<small data-bind="text: year"></small>
			</h2>
			<span data-bind="text: plot"></span>
		</div>
		<div class="span6 movie-list-container nano">
			<ol class="movie-list nano-content" data-bind="foreach: movies">
				<li class="movie-list-item" data-bind="css: { active: selected }, click: $root.selectMovie">
					<span class="imdb-rating pull-right" data-bind="text: rating"></span>
					<a class="movie-title" data-bind="text: title, attr: { href: '/movies/'+movieid, title: title }"></a>
				</li>
			</ol>
		</div>
	</div>
</div>
