This is movies template

<div class="row-fl">
	<button class="btn btn-medium" data-bind="click: resetMovies, disable: resetDisable">Reset movies list</button>
</div>
<div class="row-fluid">

	<table class="table table-bordered table-striped">
		<colgroup>
			<col class="span1" />
			<col />
			<col />
			<col />
			<col class="span1" />
		</colgroup>
		<thead>
			<tr>
				<th>#</th>
				<th>Title</th>
				<th>Sort title</th>
				<th>Original title</th>
				<th>Year</th>
			</tr>
		</thead>
		<tbody data-bind="foreach: movies">
			<tr data-bind="click: $root.chooseMovie">
				<td data-bind="text: movieid"></td>
				<td data-bind="text: title"></td>
				<td data-bind="text: sorttitle"></td>
				<td data-bind="text: originaltitle"></td>
				<td data-bind="text: year"></td>
			</tr>
		</tbody>
	</table>
	
	<button class="btn btn-medium" data-bind="click: moreMovies, disable: moviesLeft() != true">More movies</button>
</div>